COMPOSE_PROJECT_NAME=media
TZ=Asia/Ho_Chi_Minh
PUID=1000
PGID=1000
MEDIA_ADMIN_USER=mediaadmin
MEDIA_ADMIN_PASSWORD=generated-by-install-script
QBITTORRENT_PASSWORD=generated-by-install-script
SABNZBD_PASSWORD=generated-by-install-script
AUTOBRR_SESSION_SECRET=generated-by-install-script
